:root{
  --ifm-color-primary: #417080;
  --ifm-color-primary-dark: #3b6573;
  --ifm-color-primary-darker: #375f6d;
  --ifm-color-primary-darkest: #2d4e5a;
  --ifm-color-primary-light: #487b8d;
  --ifm-color-primary-lighter: #4b8193;
  --ifm-color-primary-lightest: #5492a6;
}


