@import "bootstrap.css";
@import "actionButton.scss";

.homepage {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

/* Sections */

.section {
  width: 100%;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.section + .section .container {
  padding-top: 50px;
}

.section.light + .section.light .container {
  border-top: 1px solid var(--ifm-table-border-color);
}

.section.tint {
  background-color: var(--ifm-menu-color-background-active);
}

.section.dark {
  background-color: var(--dark);
}

.center-content {
  text-align: center;
}

/* Heading */

.heading {
  font-size: 25px;
  color: var(--ifm-font-color-base);
  line-height: 1.2;
  margin-top: 0;
  font-weight: 700;

  &.centered {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }

  &.with-subheading {
    margin-bottom: 5px;
  }
}

.subheading {
  font-size: 20px;
  color: var(--ifm-font-color-base);
  opacity: 0.6;
  line-height: 1.2;
  margin-top: 0;
  font-weight: 500;

  &.centered {
    width: 100%;
    text-align: center;
  }
}

html[data-theme='light'] {
  .section.dark .heading {
    color: var(--ifm-font-color-base-inverse);
  }

  .section.dark p {
    color: var(--ifm-font-color-base-inverse);
  }
}

/* Texts */

p.centered {
  width: 100%;
  text-align: center;
}

/* Icons */

.icon-holder {
  width: 50px;
  height: 50px;
  background: var(--ifm-color-primary-contrast-background);
  display: inline-block;
  border-radius: 50%;
  padding-top: 14px;
  text-align: center;

  svg {
    color: var(--ifm-color-primary-darkest);
    font-size: 1.4rem;
  }
}


/* Text cards */
html[data-theme='dark'] {
  .icon-holder {
    svg {
      color: #fff;
      font-size: 1.2rem;
    }
  }
}

.text-card {
  padding: 1.5rem;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  border: 1px solid var(--ifm-color-gray-200);
  border-radius: 2px;
  height: 100%;

  .icon-holder {
    margin-bottom: 10px;
  }

  .text {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 1200px) {
  .cards-container {
    margin-bottom: 2rem;
  }
}

html[data-theme='dark'] {
  .text-card {
    border: 1px solid var(--ifm-color-gray-800);
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 60%);
  }
}

/* Header hero */

.section.header-hero {
  padding-top: 80px;
  padding-bottom: 80px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(1,57,65,1) 83%, rgba(1,69,78,1) 100%);
}

.header-hero {
  .title {
    font-size: 84px;
    color: var(--brand);
    line-height: 1;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
  }
  
  .tagline {
    font-size: 24px;
    line-height: 1.3;
    color: white;
    font-weight: 500;
  }
  
  .buttons {
    margin-top: 40px;
    .action-button {
      margin-right: 1rem;
    }
  }
  
  img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
  }

  @media only screen and (max-width: 760px) {
    .title {
      font-size: 60px;
    }
  
    .socialLinks {
      margin-top: -2rem;
    }
  }
} 
